<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    {{> style}}
</head>
<body>
    <div class="wrapper">
        {{> header}}
        <div class="content">
            <article>
                {{#success}}
                    {{#each modules}}
                        <section id="{{ord}}" class="{{class}}">
                            {{> modules}}
                        </section>
                    {{/each}}
                {{> posts}}
                {{else}}
                    {{> error}}
                {{/success}}
            </article>
        </div>
    </div>
{{#each script}}
    <script>{{{this}}}</script>
{{/each}}
{{> panel_script}}
</body>
</html>