{{#html}}
    <h1>{{{title}}}</h1>
    <div class="section-content">
            {{{content}}}
    </div>
{{/html}}
{{#script}}
    <script>
        {{{content}}}
    </script>
{{/script}}
{{#video}}
    <div class="video">
        <iframe src="https://www.youtube-nocookie.com/embed/{{featured}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h1>{{{title}}}</h1>
    <div class="section-content">
        {{{content.body}}}
    </div>
{{/video}}
{{#image}}
    <img src="/content/images/{{featured}}">
    <h1>{{{title}}}</h1>
    <div class="section-content">
        {{{content}}}
    </div>
{{/image}}
{{#table}}
<table>
    <tbody>
        {{#each content}}
        {{#if @first}}
        <tr>
            {{#each this}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
        {{/if}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
{{/table}}