{{#html}}
    <h1>{{{title}}}</h1>
    <div class="section-content">
            {{{content.body}}}
    </div>
{{/html}}
{{#video}}
    <div class="video">
        <iframe src="https://www.youtube-nocookie.com/embed/{{content.featured}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h1>{{{title}}}</h1>
    <div class="section-content">
        {{{content.body}}}
    </div>
{{/video}}
{{#image}}
    <img src="/content/images/{{content.featured}}">
    <h1>{{{title}}}</h1>
    <div class="section-content">
        {{{content.body}}}
    </div>
{{/image}}